<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="style.css"/>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <title>Ma todolist</title>

</head>

<body>
<div class="container">
    <div class="jumbotron">
        <h1 class="text-center">ODJ partag&eacute;</h1>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>ODJ </h2>
            <!-- The todolist -->
            <ul id="todolist"></ul>

            <!-- The form to add task -->
            <form id="todolistForm" method="post" action="/todolist/<%= todolistId %>">
                <label for="task">Nouveau sujet :</label>
                <input type="text" name="task" id="task" autofocus required>
                <input type="hidden" id="user" name="user" value="<%= user %>" >
                <input type="hidden" id="todolistId" name="todolistId" value="<%= todolistId %>" >
                <button type="submit" class="btn btn-primary" value="Envoyer">Envoyer</button>
            </form>
        </div>
    </div>

</div>

<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
// Connexion à socket.io

const socket = io();



const todolistId = document.getElementById("todolistId").value;

console.log("firstConnection")
socket.emit("firstConnection", todolistId);

console.log("todolistid: " + todolistId);
// Lors de la première connexion, récupère toutes les tâches
console.log("listenSocket on updateTask" + todolistId);
socket.on("updateTask" + todolistId, function (todolist) {
  $("#todolist").empty(); // Refresh the list
  if (todolist) {
    todolist.forEach(function (task, index) {
      insertTask(task, index);
    });
  }
});

//
$("#todolistForm").submit(function (e) {
  //e.preventDefault();
  var task = $("#task").val();
  var user = $("#user").val();
  console.log("user: " + user);
  socket.emit("addTask", task, user, todolistId);
  $("#task").val("").focus();
});

function insertTask(task, index) {
  $("#todolist").append(
    '<li><a class="delete" href="#" data-index="' +
      index +
      '">✘</a> ' +
      task +
      "</li>"
  );
}

// supprime une tâche
$("body").on("click", ".delete", function () {
  socket.emit("deleteTask", $(this).data("index"), todolistId);
});

</script>
</body>
</html>
